body {
	margin: 8px;
}

.container, .item1, .item2 {
	border: 2px solid black;
	border-radius: 8px;
	padding: 16px;
}

.container {
	background-color: #995db5;
	display: flex;
    	height: 80px;
	align-items: center;	
}

.item1, .item2 {
	background-color: #f7941f;
	flex-basis: 300px;
}

.item1 {
	flex-shrink: 1;
}

.item2 {
	flex-shrink: 3;
}