@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 98%) url('images/bg-desktop-light.jpg') no-repeat top;
    background-size: 100vw 30vh;
    display: grid;
    place-content: center;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: hsl(235, 19%, 35%);
}

.content {
    min-width: 540px;
}

h1 {
    font-size: 40px;
    letter-spacing: 0.4em;
    color: white;
    margin-top: 70px;
}

::placeholder {
    color: hsl(236, 9%, 61%);
}

.card {
    background-color: white;
    width: 540px;
    border-radius: 5px;
}

.card:nth-child(3) {
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.botao-inativo {
    all: unset;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #55DDFF;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.botao-ativo {
    all: unset;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: 1px solid hsl(236, 33%, 92%);
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.pesquisa {
    display: flex;
    align-items: center;
    height: 64px;
    margin-top: 2.8em;
    margin-bottom: 1.4em;
    padding: 0 1em;
}

.inserir-tarefas {
    all: unset;
    width: 400px;
    height: 64px;
    margin-left: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: hsl(236, 9%, 61%);
    padding-bottom: 0.4em;
}
