
body {
    background-color: teal;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 100vh;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.formulario {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.formulario div {
    padding: 15px;
    margin: 10px 0;
}

#nome, #nascimento, button, select {
    all: unset;
}

#nome, #nascimento, button, select {
    background-color: white;
    color: teal;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 2px 8px 0 black;
    margin-left: 20px;
}

#ckb, #rdo {
    background-color: white;
    

}

.submit:hover {
    background-color: green;
    color: white;
}

.cancel:hover{
    background-color: red;
    color: white;
}


.submit:hover, .cancel:hover, label:hover {
    font-size: 20px;
}

