@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
 
body {
  margin: 0;
  min-height: 100vh;

  display: grid;
  place-items: stretch;
  place-content: stretch;
 
  --red: #F87070;
  --cyan: #70F3F8;
  --purple: #D881F8;
  --white: #FFFFFF;
  --lightblue1: #D7E0FF;
  --lightblue2: #EFF1Fa;
  --darkblue1: #1E213f;
  --darkblue2: #161932;
 
  --text-color: var(--lightblue1);
  color: var(--text-color);
 
  --highlight-color: var(--red);
}
 
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  color: inherit;
  font-family: inherit;
}
 
.App {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  background-color: var(--darkblue1);
  min-height: 100vh;
  justify-content: space-between;
  padding: 48px 48px 56px;
}
 
.App > * {
  z-index: 1;
}
 
.mode {
  display: flex;
  gap: 8px;
  background-color: var(--darkblue2);
  padding: 8px;
  border-radius: 32px;
}
 
.mode button {
  border-radius: 26.5px;
  padding: 16px 26px;
  font-weight: bold;
  color: inherit;
  font-size: 14px;
}
 
.mode button.selected {
  background-color: var(--highlight-color);
  color: var(--darkblue2);
}
 
.outer-circle {
  width: 410px;
  height: 410px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  padding: 22px;
 
  display: grid;
  place-content: stretch;
  z-index: 0;
}
 
.inner-circle {
  width: 366px;
  height: 366px;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 16px;
  background-color: var(--darkblue2);
  border-radius: 50%;
  padding: 60px;
}
 
.time {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}
 
.outer-circle button {
  color: inherit;
  font-size: 16px;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
 
.kumbh {
  font-family: 'Kambh Sans', sans-serif;
}
 
.robot {
  font-family: 'Roboto Slab', sans-serif;
}
 
.space {
  font-family: 'Space Mono', monospace;
}
 
form button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--darkblue2);
}
 
button .color {
  background-color: var(--highlight-color);
  display: grid;
  place-content: center;
}
 
button.color img {
  display: none;
}
 
button.color.selected img {
  display: block;
}
 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 12, 28, 0.5);
 
  display: grid;
  place-content: center;
  padding: 56px 24px;
}
 
.overlay.closed {
  display: none;
}
 
.modal {
  background-color: var(--white);
  color: var(--darkblue2);

  display: grid;
  border-radius: 15px;
  max-width: 540px;
}
 
.modal header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
 
.modal form {
  padding: 0 24px;
}

hr {
  color: var(--darkblue2);
  opacity: 0.1;
}
 
.modal form > section {
  padding: 24px 0;
}
 
.modal .time-settings {
  display: grid;
}
 
.modal h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}
 
.modal .time-settings h3 {
  margin-bottom: 22px;
}
 
.side-by-side {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
 
.side-by-side .label {
  display: block;
  color: var(--darkblue1);
  opacity: 0.6;
  font-size: 12px;
  margin-bottom: 6px;
}
 
.side-by-side input {
  width: 100%;
  font-weight: bold;
}
 
.modal .font-settings, .modal .color-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
 
.modal .buttons {
  display: flex;
  gap: 16px;
}

.modal button {
  background-color: var(--lightblue2);
  color: var(--darkblue1);
  font-weight: bold;  
}
 
.modal button.selected {
  background-color: var(--darkblue2);
  color: var(--white);
}

@media (max-width: 768px) {
  .modal form {
    padding: 0 40px;
  }
}

@media (max-width: 580px) {
  .App {
    padding: 24px 20px 48px;
  }

  .mode button {
    padding: 18px 13px;
    font-size: 12px;
  }

  .outer-circle {
    width: 300px;
    height: 300px;
    padding: 16px;
  }
 
  .inner-circle {
    width: 267.8px;
    height: 267.8px;
    padding: 40px;
  }
 
  .time {
    font-size: 80px;
  }

  .modal form {
    padding: 0 24px;
  }

  .modal .time-settings {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    font-size: 12px;
    font-weight: bold;
  }

  .side-by-side {
    display: flex;
    flex-direction: column;
  }

  .side-by-side label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .side-by-side input {
    width: 140px;
  }

  .modal .font-settings, .modal .color-settings {
    display: grid;
    grid-auto-flow: row;
    place-content: center;
    place-items: center;
    gap: 18px;
  }
  
}