.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 1.5em 5em;
    padding: 2em;
    margin-top: 4em;
    padding-bottom: 4em;
}
  
.card img {
    border-radius: 10px;
    margin-bottom: 1em;
}
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}