* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body {
    background: url('images/background.jpg') blue top left/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: white;
    height: 380px;
    width: 350px;
    border-radius: 15px;
}

.card-top {
    background-image: url('images/background-card.svg');
    height: 140px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.foto {
    position: absolute;
    margin-top: -80px;
    margin-left: 10px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}

.person {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: 700;
}

.name span {
    color: hsl(185, 75%, 39%);;
    font-weight: 400;
    margin-left: 5px;
}

.location {
    color: hsl(185, 75%, 39%);
    font-size: 16px;
    margin-top: 10px;
}

.card-bottom {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid hsl(185, 75%, 39%);
    padding: 15px;
}

.status {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.status-number {
    font-weight: 700;
}

.status-text {
    color: hsl(185, 75%, 39%);
    font-size: 14px;
}



/* 

.foto {
    position: absolute;
    margin-top: 100px;
    margin-left: 125px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}