body {
	margin: 8px;
}

.container, .item1, .item2 {
	border: 2px solid black;
	border-radius: 8px;
	padding: 16px;
}

.container {
	background-color: #995db5;
	display: flex;
    height: 80px;
	align-items: center;
}

.item1, .item2 {
	background-color: #f7941f;
}

.item1 {
	flex-grow: 2;
}

.item2 {
	flex-grow: 1;
}
