body {
  background-color: springgreen;
  font-family: cursive;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

img {
  width: 400px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-green {
  color: rgb(11, 66, 11);
}

.text-blue {
  color: blue;
}

.text-red {
  color: rgb(133, 31, 31);
}