* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

body {
    background-color: black;      
}

h1 {
    background-color: white;
    color: black;
    font-size: 65px;
    text-align: center; 
    margin: 15px;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #F0DE9C;
}

h4 {
    background-color: white;
    text-align: center;
    padding: 15px;
}

h4, h4 a {
    color: black;
}

h2, p {
    margin-bottom: 30px;
}

div {
    text-align: center;
    margin: 40px 50px;
}

.capa {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

h1, .capa img {
    width: 500px;
    border-radius: 15px;
}

.preferida {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minha-historia img {
    display: none;
}



