* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('assets/background.svg') no-repeat;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: hsl(240, 38%, 20%);
    display: flex;
    height: 100vh;
    align-items: center;
}

.texto {
    position: relative;
    left: 50px;
    z-index: 1;
}

.texto-principal {
    margin-bottom: 30px;
}

.autoria {
    display: inline-flex;
    font-size: 20px;
}

.pessoa {
    margin-right: 50px;
}

.profissao {
    color: hsl(240, 18%, 77%);
}

.autora {
    position: relative;
    right: 120px;
}
