* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Ranchers', monospace;
}

.header {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

h1 {
    color: white;
    font-size: 100px;
}

.header img {
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;
}

.main {
    display: flex;
    justify-content: center;
}

.imagens {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    width: 300px;
}

.imagens img {
    max-width: 200px;
}

.receita {    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px;
}

.receita h2 {
    font-size: 40px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cartao {
    background-color: coral;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 black;
}

.preparo, .rendimento {
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

h1, .preparo, .rendimento {
    text-shadow: 3px 2px black;
}

.conteudo {
    padding: 35px;    
}

ol, ul {
    padding: 10px;
}

.footer {
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;    
}

.footer {
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 2px black;
}

.mais-receitas {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
