* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Recursive', monospace;
}

body {
    background: #FF8552 url('../assets/empadao/bg-chicken2.jpg') repeat; 
    
}

h1 {
    font-size: 70px;
    background-color: #BE7663;
    color: #FFFFFF;
    padding: 20px;
    text-shadow: 2px 2px black;
    text-align: center;
    }

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h2, h3, p, ul, ol, img {
    margin-bottom: 20px;
}


h4 {
    text-align: center;

}

.receitas-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartao {
    border-radius: 15px;
    box-shadow: 0 3px 15px 0 black;
    margin: 15px;
}

.historia {
    background-color: yellow;
}

.receita {
    display: flex;
    justify-content: center;
}

.ingredientes {
    background-color: lightsalmon;
}

.preparo {
    background-color: lightgreen;
    flex-grow: 1;
    font-size: 24px;
}

.ingredientes, .preparo {
    display: flex;
    flex-direction: column;
}

.conteudo {
    padding: 30px 40px;
}

.imagens-do-prato {
    background-color: lightcoral;   
}

.imagens {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
}

.imagens img {
    flex-grow: 1;
    max-width: 360px;
    border-radius: 20px;
    border: 2px solid white;
}

.rodape {
    background-color: #FFFFFF;
    width: 100vw;
}
