.bg-black{
    background-color: black;
}

.bg-white {
    background-color: white;
}

.text-white {
    color: white;
}

.text-red {
    color: red;
}

.text-yellow {
    color: yellow;
}

.text-green {
    color: greenyellow;
}

.text-blue {
    color: blue;
}

.text-violet {
    color: violet;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.text-center {
    text-align: center;
}