body {
	margin: 8px;
}

.container, .item, .item5 {
	border: 2px solid black;
	border-radius: 8px;
	padding: 16px;
}

.container {
	background-color: #995db5;
	display: flex;
}

.item {
    list-style: none;
	background-color: #f7941f;
}

.item5 {
	list-style: none;
	background-color: green;
	margin-left: auto;
}