body {
	margin: 8px;
}

.container, .item1, .item2 {
	border: 2px solid black;
	border-radius: 8px;
	padding: 16px;
}

.container {
	background-color: #995db5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item1, .item2 {
	background-color: #f7941f;
}

.item2 {
	flex-shrink: 0;
	flex-basis: 300px;
}