* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Corleone Due';
    src: url('assets/corleonedue.ttf');
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

h1 {
    font-size: 80px;
    color: white;
    text-shadow: 3px 3px red;
    padding: 10px;
}

h2 {
    font-size: 38px;
}

h2 {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

.godfather {
    font-family: 'Corleone Due', monospace;
}

.card-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-principal img {
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 red;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main img {
    max-width: 400px;

}

.card-musicas {
    background-color: #FDB350;
}

.card-curiosidades {
    background-color: white;
    color: black;
    margin-top: 10px;
}

.card-curiosidades li {
    text-align: left;
    list-style: upper-roman;
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
}

.card-musicas, .card-curiosidades {
    border-radius: 10px;
    padding: 20px;
}